* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}
h1, h2 {
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
}
.navbar a {
    text-decoration: none;
}
.navbar button, .navbar a {
    background-color: #333;
    border: 1px solid #555;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.navbar button:hover, .navbar a:hover {
    background-color: #555;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
}
.time-info {
    text-align: center;
}
.time-info h3 {
    margin: 10px 0;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.button-container button {
    width: 48%;
    padding: 10px;
    background-color: #333;
    border: 1px solid #555;
    color: #fff;
    cursor: pointer;
}
.button-container button:hover {
    background-color: #555;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #555;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #333;
}